<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="styles.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   
</head>
<body>
	<div>{%for classes in pongs %}
		<h4 class="col-md-6 col-md-offset-2">Others who added: {{classes['artist']}},{{classes['title']}} </h4>
		{%endfor%}
		<div class="col-md-8 col-md-offset-2">
			<table border="1" class="table">
				<thead>
	              <tr>
	                <th>User</th>
	                <th>Times Added</th>
	              </tr>
	            </thead>
	            <tbody>
		        {%for classes in details %}
		        <tr><td><a href="/user_playlist/{{classes['id']}}">{{classes['first_name']}} {{classes['last_name']}}</a></td><td>{{classes['count']}}</td>
		        {%endfor%}
		        </tbody>
		    </table>
		</div>
		<div class="col-md-8 col-md-offset-2">	    
			<a href="/show">Return to the Dashboard</a>
		</div>
	</div>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>